/* 整体设置 */
*{margin:0px;padding:0px;}

/**
 * 设置日历的大小
 */
.calendar{
  width: 15.36rem;
  display: block;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 100;
  display: none;
  left: 50%;
  top: 14.5rem;
  margin-left: -7.68rem;
  background: #fff;
}

/**
 * 设置日历顶部盒子
 */
.calendar .calendar-title-box{
  position: relative;
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align:center;
  border-bottom: 1px solid #ddd;
}

/**
 * 设置上个月的按钮图标
 */
.calendar .prev-month {
  position: absolute;
  top: 0.768rem;
  left: 0.4rem;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 0px;
  border-top: 0.384rem solid transparent;
  border-right: 0.504rem solid #999;
  border-bottom: 0.384rem solid transparent;
  cursor: pointer;
}

/**
 * 设置下个月的按钮图标
 */
.calendar .next-month {
  position: absolute;
  top: 0.768rem;
  right: 0.4rem;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 0px;
  border-top: 0.384rem solid transparent;
  border-left: 0.504rem solid #999;
  border-bottom: 0.384rem solid transparent;
  cursor: pointer;
}


/* 设置日历表格样式 */
.calendar-table{
  width: 100%;
  border-collapse: collapse;
  text-align:center;
}

/* 表格行高 */
.calendar-table tr{
  height: 1.92rem;
  line-height: 1.92rem;
}

/* 当前天 颜色特殊显示 */
.currentDay {
  color: red;
}

/* 本月 文字颜色 */
.currentMonth {
  color: #999;
}

/* 其他月颜色 */
.otherMonth{
  color: #ede;
}