/*common-question.css*/
.question-box{
	border-radius: 2px;
	padding:20px;
	border: 1px solid #ddd;
}
.question-box .title{
	margin:30px 0;
	text-align: center;
	font-size:24px;
}
.question-box strong{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.question-box p,.question-box ul li{
	line-height: 26px;
	font-size: 15px;
	color: #777;
}
.question-box span{
	color: #2577e3;
}